# Data Structures
* strings
* lists
* tuple
* dictionaries
* sets

In [1]:
str=""
print(type(str))
list=[]
print(type(list))
tup=()
print(type(tup))
dict={1:0}
print(type(dict))
set={}
print(type(set))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'dict'>

In [6]:
s='sunith'
print(s)
print(type(s))
print(s[0],end=',')
print(s[1],end=',')
print(s[2],end=',')
print(s[3],end=',')
print(s[4],end=',')
print(s[5],end=',')

sunith
<class 'str'>
s,u,n,i,t,h,

In [ ]:
n=input()
n1=input()
for i in range(len(n)):
    if n[i]==n1:
        print(i)

In [6]:
s='sunith'
print(s)
print(type(s))
print(s[:])

sunith
<class 'str'>
sunith

In [7]:
s='sunith'
print(s)
print(type(s))
print(s[0:6:2])

sunith
<class 'str'>
snt

In [12]:
s='sunith'
print(s)
print(type(s))
print(s[::-1])

sunith
<class 'str'>
htinus

In [19]:
n=input()
if n==n[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

eye
palindrome

In [18]:
n=input()
str=''
for i in n:
    str=str+i
if str==n:
    print("palindrome")
else:
    print("not a palindrome")

121
palindrome

In [20]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [28]:
p=" python programming language "
print(p.capitalize())
print(p.title())
print(p.upper())
print(p.casefold())
print(p.lower())
print(p.center(50))
print(p.swapcase())
print(p.islower())
print(p.isupper())
print(p.isspace())
print(p.startswith('p'))
print(p.endswith('o'))
print(p.isalpha())
print(p.isalnum())
print(p.encode())
print(p.count('p'))
print(p.strip())
print(p.lstrip())

 python programming language
 Python Programming Language
 PYTHON PROGRAMMING LANGUAGE
 python programming language
 python programming language
           python programming language
 PYTHON PROGRAMMING LANGUAGE
True
False
False
False
False
False
False
b' python programming language '
2
python programming language
python programming language

In [38]:
p='a b'
print(p[1].isspace())

True

In [18]:
inp="vidya 528 anu 540 ambica 522"
for i in inp:
    if i.isalpha():
        print(i,end='')
print
for i in inp:
    if i.isdigit(): 
        print(i,end="")

vidyaanuambica
528540522

In [22]:
inp=input()
c1=0
c2=0
c3=0
c4=0
c5=0
b=''
c=''
d=''
e=''
for i in inp:
    if i.isalpha():
        b+=i
        c1+=1
        if i.isupper():
            c+=i
            c2+=1
        if i.islower():
            d+=i
            c3+=1
    elif i.isspace():
        c4+=1
    elif i.isdigit():
        e+=i
        c5+=1
print(b,c1) 
print(c,c2)
print(d,c3)
print("space:",c4)
print(e,c5)

VidYa 23 anu 98 amBiCa 34
VidYaanuamBiCa 14
VYBC 4
idaanuamia 10
space: 5
239834 6

In [30]:
p='python\tprogram'
print(p.expandtabs(4))

python  program
python	program

In [32]:
p='python program'
print(p.zfill(100))

00000000000000000000000000000000000000000000000000000000000000000000000000000000000000python program

In [34]:
"{} {} language".format("python","programming")

'python programming language'

In [39]:
n=int(input())
for i in range(1,11):
      print("{} * {} = {}".format(n,i,n*i))

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [45]:
n="hello"
print(n.index('l'))
print(n.rindex('l'))
print('@'.join(n))

2
3
h@e@l@l@o

In [51]:
p='python@gmail. com'
print(p.split('@'))
p.split()

['python', 'gmail. com']

['python@gmail.', 'com']

In [63]:
l=[1,2,3,4]
l.append(5)
print(l)
l.extend([6,7,8])
print(l)
l.pop()
print(l)
l.remove(4)
print(l)
l.sort()
print(l)
l.reverse()
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6, 7]
[1, 2, 3, 5, 6, 7]
[7, 6, 5, 3, 2, 1]

In [65]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
l=[]
for i in range(1,51):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [68]:
l=[]
for i in range(1,2021):
    if(i%4==0 and i%100!=0 or i%400==0):
        l.append(i)
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [71]:
l=[]
for i in range(ord("A"),ord("Z")+1):
    l.append(i)
print(l)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [72]:
l=[]
for i in range(ord("A"),ord("Z")+1):
    if i%2==0:
        print(i,".....",chr(i))

66 ..... B
68 ..... D
70 ..... F
72 ..... H
74 ..... J
76 ..... L
78 ..... N
80 ..... P
82 ..... R
84 ..... T
86 ..... V
88 ..... X
90 ..... Z

In [75]:
t=(2,4,6,8)
print(t.count(4))
print(max(t))
print(min(t))

1
8
2

In [ ]:
t=(2,2,4,3,5,8,6,4,9,1)
l1=[]
for i in t:
    l1.append(i*i)
print(l1)
print(tuple(l1))
print(l1.index(max(l1)))
print(l1.count(min(l1)))

In [ ]:
l1=['a','b','c']
l2=[1,2,3]
print(dict(l1,l2))